.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    display: "flex";
}

.button-dataset {
    margin: 0px 10px 10px 10px;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.button-dataset:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* .button-dataset:hover:not(:disabled) {
    background-color: #0056b3;
  } */

.visualisation-button {
    background-color: #007bff;
    margin: 0px 10px 10px 10px;
    text-align: center;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
  }

.visualisation-dataset:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

.visualisation-button:hover:not(:disabled) {
  background-color: #0056b3;
}

.revert-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
}

.revert-button-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  display: "flex";
}



.hover-container {
  position: relative;
  display: inline-block;
}

.hover-iframe {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  width: 600px;
  height: 400px;
  z-index: 10;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.hover-container:hover .hover-iframe {
  visibility: visible;
  opacity: 1;
}

.histogram-iframe {
  width: 100%;
  height: 100%;
  border: none;
}